/* Demo styles
----------------------------------*/
body {
	font-family: "Arial","Verdana","sans-serif";
	margin: 1em;
	font-size: 12px;
}
#wrapper {
	width: 40em;
}
h1 {
	font-family:"Trebuchet MS","Helvetica";
	border-bottom: 1px solid #EEEEEE;
}
#copyright {
font-size: 0.9em;
margin: 1em 0;
position: absolute;
bottom: 0;
}