/* Demo styles
----------------------------------*/
body {
	font-family: "Arial","Verdana","sans-serif";
	margin: 1em;
}
h1 {
	font-family:"Trebuchet MS","Helvetica";
	border-bottom: 1px solid #EEEEEE;
}
#controls {
	position: absolute;
	font-size: 0.6em;
	top: 0;
}
#controls a{
	color: gray;
}
#copyright {
font-size: 0.6em;
}
#wrapper{
	width: 1250px;
}
#table-wrapper{
	float: left;
	width: 84%; 
}
#ui-table-control{
	display: block;
	width: 14%;
	margin-left: 85%;
}
#ui-table-pager {
	float: right;
	margin-right: 2%;
}
#ui-table-pager span {
	position: absolute;
	margin: 0 0 0 -4.5em;
	padding: 0.2em 0.5em 0.15em 0.4em;
	font-weight: bold;
	font-size: 0.8em;
	background: #f6a828 url(ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;
}
table {
	width: 98%; 
	font-size: 0.75em; 
	letter-spacing: 0.08em;
	border-collapse: collapse; 
	margin:0 2% 0.4em 0; 
	border: 1px solid #cccccc; 
}
table thead{
	width: 98%; 
}
table th a ,
table th a:active  {
  outline: none;
}
th { 
	padding: 0; 
	font-weight: bold; 
	text-align: left;
	border: 1px solid #e78f08; 
	background: #f6a828 url(ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;
}
td { 
	text-align: right; 
	padding: 0.3em 0.5em; 
	border-left: 1px solid #cccccc; 
	border-right: 1px solid #cccccc; 
}
tr { 
	background: #f6f6f6 url(ui-lightness/images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
}
tr.odd { 
	background: white;
}
caption {
	margin: 0 0 1em 0;
	text-align: left; 
	padding: 0.3em 0.3em; 
}
th a {	
	padding: 0.5em 2em 0.5em 0.7em; 
	display: block;
	line-height: 1;
	color: black;
	border: 0 !important;
	position: relative;
}
th.ui-table-desc a {	
	background: url(desc.gif) right center no-repeat;
}
th.ui-table-asc a{	
	background: url(asc.gif) right center no-repeat;
}
th.ui-table-desc a:hover,	
th.ui-table-desc a:active,	
th.ui-table-desc a:focus, 
th a:hover,	
th a:active,	
th a:focus{	
	background: url(asc.gif) right center no-repeat;
}
th.ui-table-asc a:hover, 
th.ui-table-asc a:active, 
th.ui-table-asc a:focus{	
	background: url(desc.gif) right center no-repeat;
}


/* Form Styling
----------------------------------*/
fieldset {
	border: 0;
	margin: 0 0 1em 0;
	padding: 1em;
}
*:first-child+html fieldset {
	margin: 0 0 2em 0;
}
legend {
	padding: 0.1em 0.3em;
}
*:first-child+html legend {
	margin: -1.5em 0 1em 0;
}
label, input {
	display:block;
	font-size: 0.8em;
}
label, 
button, 
.submit {
	cursor: pointer;
}
button {
	margin: 0 0.1em;
	padding: 0.1em 0.3em 0 0.2em;
}
input.radio {
	float: left;
	margin: 0.1em 1em 0 0;
}
.pair {
	clear: both;
	margin: 0.5em 0;
}
.pair input{
	margin: 0.25em 0.5em 0 0.3em;
}
*:first-child+html .pair input{
	margin: -0.05em 0.5em 0 0.1em;
}
* html .pair input {
	margin: -0.07em 0.3em 0 -0;
}